---
layout: page
title: CAA
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Emergency: +61 1300 936 662</h1>
<!--
          <p class="animated fadeInUp">We love the Web and the work we do.We work closely with our </br> clients to deliver the best possible solutions for their needs</p>
-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
<h2>
Introduction
</h2>
          </div>

<p>
The Cryonics Association of Australasia (CAA) is a non-profit organisation
registered in Victoria (Corporation Registered Number: A0029556Z). CAA offers
support for residents of Australia, New Zealand and other countries in the
region, having suspension arrangements, or planning to make such arrangements,
with any of the US Cryonics organisations or Southern Cryonics in Australia and seeks to promote the concept
generally in Australia. CAA will act as a self-regulatory authority for any
Cryonics facilities that are developed in Australia.

</p>
          <div class="section-title">
<h2>
What Is Cryonics?
</h2>
          </div>

<p> Cryonics is the practice of maintaining patients currently classed as
legally "dead" at extremely low temperatures for treatment by future medicine.

</p>

          <div class="section-title">
<h2>
What Does The Cryonics Procedure Consist Of?
</h2>
          </div>

</p>
In optimal circumstances, the procedure typically consists of:
</p>
<p>
Restoring the circulatory and respiratory function with a heart-lung
resuscitator (Thumper) and/or heart-lung machine (blood pump and artificial
lung) Treatment of the patient with cryoprotectant drugs such as glycerol to
minimise damage from the freezing process Introduction of cryoprotectants is
carried out with a heart-lung machine by circulation of a perfusate (blood
substitute) carrying the cryoprotectant through the patient's tissues - this
procedure is called perfusion Cooling to the temperature of dry ice (-79°C) in
a silicone oil bath. This cooling procedure takes approximately 2-3 days for
whole body patients and 1 day for neurosuspension patients Further cooling to
liquid nitrogen temperature (-196°C) Long term storage submerged in liquid
nitrogen at a temperature of -196°C - essentially all chemical and biological
activity is arrested at this temperature.

</p>
<p>
<b>
Philip Rhoades Executive Officer<br>
CAA

</b>
</p>
<p>
Contact Information:<br> 
Mail: PO Box 896 Cowra NSW 2794 Australia

</p>
<p>
Chat to my Avatar, Phi Rho here:<br>
<a href=
"https://www.facebook.com/PhiRhoChat">
Phi Rho Chat Page at FaceBook</a>

        </div>
      </div><!-- .col-md-7 close -->
    </div>
  </div>
</section>




