---
layout: page
title: Patient One
permalink: /patient1/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Patient One</h1>
<p>
CAA people involved with the first person Cryopreserved in the Southern Hemisphere:
</p>

<p>
<ul>
<li>
Philip Rhoades - Exec Off of the CAA and Facility Manager for Southern Cryonics
</li>

<li>
Peter Tsolakides - Deputy Exec Off of CAA (Corporates) and Exec Dir of Southern Cryonics
</li>

<li>
Joe Allen - Service Officer of CAA
</li>

<li>
Other, so far uncredited, but very helpful people.
</li>
</ul>
</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% for article in site.articles %}
<div class="post-area">
  <a href="{{ article.url | prepend: site.baseurl }}" class="bold">{{ article.title }}</a>
  <p class="post-date">{{ article.date | date_to_long_string }}</p>
  <p>
    {{ article.content | strip_html | truncatewords: 50 }}
  </p>
</div>
{% endfor %}

<!--
{% for article in site.articles %}
  <p>{{ article.content | markdownify }}</p>
{% endfor %}
-->










