---
layout: page
title: Membership
permalink: /membership/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>MEMBERSHIP</h1>
                    <p>Full CAA Membership is the safest option.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">

<p>
As a result of the 2009-08-10 Executive Meeting, there is a new category of
membership: Life Membership - please see the "Blog" section.

</p>

          <div class="section-title">
<h2>
Members
</h2>
          </div>

          <div class="section-title">
<h3>
Emergencies
</h3>
          </div>

<p>
If a CAA member has just died or is about to die and you want CAA to start making arrangements:

</p>
<p>
* If the person has just been declared deceased and a medical certificate has
been issued, please pack the person in ice bags (NOT dry ice) - especially
around the person's head.

</p>
<p>
* Leave a message on our phone number (+61 2 8001 6204):

</p>
<p>
<b>
OTHERWISE:
</b>
<br>
Membership of CAA gives the support of Australian CAA members that can greatly
help with the preparation and transport of a patient to a Cryonics facility in
the US resulting in reduced costs compared to non members. CAA is also working
on other membership benefits eg insurance discounts.
</p>
<p>

<p>
<b>
Joining CAA
</b>
<br>
If you already have, or are intending to organise, a membership with a US
Cryonics organisation and want to join CAA (a once-only cost of AUS$1,000), click here:


</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="5091380">
<input type="image" src="https://www.paypal.com/en_AU/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
<img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1">
</form>

<p>
<b>
Annual CAA Membership Donations
</b>
<br>
If you are already a CAA Member we encourage you to continue to support CAA with annual donations until you reach Life Membership status 
(the recommended donation is AUS$60 per annum) click here:

</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="5091714">
<input type="image" src="https://www.paypal.com/en_AU/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
<img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1">
</form>

<p>
<b>
Annual CAA Associate Membership
</b>
<br>
If you DO NOT have and are NOT intending to organise a membership with a US
Cryonics organisation in the near future, but still want to participate in the
CAA, you can take out a CAA Associate Membership subscription (cost AUS$30 per
annum) by clicking here:

</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="1472925">
<input type="image" src="https://www.paypal.com/en_AU/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
<img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1">
</form>

<p>
<b>
CAA Donation
</b>
<br>
If you want to pay CAA an arbitrary amount of money (eg to raise your total
payments to Life Membership status - $2,500) then click here:

</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="VUBBCWUP56X2W">
<input type="image" src="https://www.paypal.com/en_AU/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
<img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1">
</form>

          <div class="section-title">
<h2>
Non Members
</h2>
          </div>

          <div class="section-title">
<h3>
Emergencies
</h3>
          </div>

<p>
If you have come to this site because someone has just died or is about to die
and you want to make Cryonic arrangements, please see the following directions:

</p>
<p>
If a person has just been declared deceased and a medical certificate has been
issued, please pack the person in ice bags (NOT dry ice) - especially around
the person's head.

</p>
<p>
If the person is not a member of the CAA, please continue with the instructions
hereunder. Help from CAA is provided on a cost recovery basis in three stages
(including the use of a CAA transport container). The payment for each stage is
required in advance and is non-refundable. The client may decide to discontinue
the process at any stage. Please be aware:

</p>
<p>
* There will be a LOT of paperwork to complete and that the US Cryonics
facilities will NOT accept patients where appropriate paperwork has not been
completed or who have had an autopsy - you may want to contact:
<a href="neuralarchivesfoundation.org">
The Neural Archives Foundation
</a>
if you want to consider a brain only preservation.

</p>
<p>
* There will be other charges involved including Funeral Home/Embalmer charges,
transport charges and Cryonic storage charges.

</p>
<p>
<b>
First Stage - Cost AUS$1,000
</b>
<br>
This stage is to determine that all the necessary prerequisites for a
successful Cryonic suspension can be achieved. It will require negotiation with
Cryonics facilities and local Funeral Homes/Embalmers and other authorities. 

</p>
<p>
To make this payment click on the "Donation" button on the "Membership" page
and leave a message on our phone number (+61 2 8001 6204):

</p>
<p>
<b>
Second Stage - Cost AUS$2,000
</b>
<br>
If the first stage has been successful then the second stage is to carry out
all the preliminary paperwork and necessary organisation and arrangements for
the Cryonic suspension. 

</p>
<p>
To make this payment click on the "Donation" button on the "Membership" page
and leave a message on our phone number (+61 2 8001 6204):

</p>
<p>
<b>
Third Stage - Cost AUS$3,000
</b>
<br>
If the second stage has been successful then the third stage is to actually
carry out all the local perfusion and pre-suspension procedures, prepare the
person for transport, and finally to transport the person in a CAA low
temperature container to the US facility for the actual Cryonic suspension. 

</p>
<p>
To make this payment click on the "Donation" button on the "Membership" page
and leave a message on our phone number (+61 2 8001 6204):

      </div>
    </div>
  </div>
</div>
</section>

