<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38841447-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('/home/0_www//ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </head>
  <body>


    {% include header.html %}


    {{ content }}









    {% include footer.html %}

    </body>
</html>
